{% comment %} paginate in liquid 
 
paginate is used to split a large collection of items into smaller, more manageable pages.
it is useful for displaying large collections of products, blog posts, or other items on a website.

syntax:
        {% paginate collection.items by number_of_items_per_page %}
                <!-- code to display items on the current page -->
        {% endpaginate %}

{% endcomment %}

<h4>{{ product.length }}</h4>
{% paginate collection.products by 4 %}
        {% for product in collection.products %}
                <h4>{{ product.title }}</h4>
        {% endfor %}
{% endpaginate %}

<p style="font-size: 1.5rem; ">{{ paginate |  default_pagination }}</p>